body {
    background-color: #2E5266FF;
}
/*.wrapper2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}
.wrapper2 > div{
    background: orange;
    padding: 1em;
}*/
.wrapper{
    grid-template-columns:1fr 1fr 1fr; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    border-color: white;
    border-radius: 1px;
    /*align-items: stretch;
    justify-items: start;
    justify-items: center;
    justify-items: end; 
    align-items: start;
    align-items: center;
    align-items: end;*/

}
/*.wrapper > div{
    background: #6E8898FF;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background: #9FB1BCFF;
}*/
.box0{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    background: rgb(10, 88, 206);
    padding: 1em;
    border-radius: 25px;
    font-family: Helvetica;
    word-spacing: 25px;
}
.box1{
   /* align-self: start;*/
   grid-column:1/3;
   grid-row: 2/4;
   background: #6E8898FF;
   padding: 1em;
   border-radius: 25px;
}
.box2{
    /*align-self: end;*/
    grid-column:3;
    grid-row: 2/4;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box3{
    /*justify-self: end;*/
    grid-column: 2/4;
    grid-row: 4/6;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box4{
    grid-column: 1;
    grid-row: 4/6;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
   /* border: 1px solid #333;*/
}
.box5{
    grid-column: 3/4;
    grid-row: 6/8;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box6{
    grid-column: 1/3;
    grid-row: 6/8;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box7{
    grid-column: 1/2;
    grid-row: 8/10;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box8{
    grid-column: 2/4;
    grid-row: 8/10;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box9{
    grid-column: 1/3;
    grid-row: 10/12;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box10{
    grid-column: 3/4;
    grid-row: 10/12;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box11{
    grid-column: 1/2;
    grid-row: 12/14;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box12{
    grid-column: 2/4;
    grid-row: 12/14;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box13{
    grid-column: 1/3;
    grid-row: 14/16;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box14{
    grid-column: 3/4;
    grid-row: 14/16;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box15{
    grid-column: 1/2;
    grid-row: 16/18;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box16{
    grid-column: 2/4;
    grid-row: 16/18;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box17{
    grid-column: 1/3;
    grid-row: 18/20;
    background: #6E8898FF;
    padding: 1em;
    border-radius: 25px;
}
.box18{
    grid-column: 3/4;
    grid-row: 18/20;
    background: #9FB1BCFF;
    padding: 1em;
    border-radius: 25px;
}
.box19{
    grid-column: 1/4;
    grid-row: 20/21;
    font-size: 50px;
    text-align: center;
    background: rgb(10, 88, 206);
    padding: 1em;
    border-radius: 25px;
    font-family: Helvetica;
}
p{
    font-size: 20px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.color{
    color: rgb(255, 255, 255);
}
a {
    color:black
}
.big{
    font-size: 50px;
}
a.one :hover{
    font-size: 150%;
}